@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding:0;
   
}
body{
    background-color: rgb(213, 20, 155);
}
.nav-tab
{
  background-color: rgb(74, 196, 224);
  display: flex;
 align-items: center;
 text-align: justify;
 padding: 10px 20px;

}
.nav-item {
    margin: 15px 10px;
    margin-left: 80px;
    color:green;
}
.tab-active, .para1{
    margin-top: 70px;
    font-weight: 700;
    color: black;
    font-size: 20px;
    margin: 70px 70px;
    align-items: center;
    text-align: justify;
}

img{
    width:500px;
    height: 70vh;
    align-items: center;
    margin-left: 320px;
    border-radius:50% 50%;
    border:5px solid goldenrod;
}
.head1{
    margin-left: 320px;
    color:aliceblue;
    font-weight: 800;
    text-shadow: 12px -6px 1px rgba(90,164,219,0.4);
}
ul,li{
    color:rgb(52, 40, 216);
}
h1{
    color:white;
    margin-left: 360px;
    font-weight: 800;
    font-size: 30px;
    text-shadow: 12px -6px 1px rgba(90,164,219,0.4);
}

p{
    margin-left: 20px;
    text-align: justify;
    align-items: center;
}

#info{
    width:700px;
    height: 100vh;
    margin-left: 200px;
    border-radius:20% 20%;
    border:2px solid rgb(48, 218, 32);
}
h4{
    font-size: 20px;
    font-weight: 800;
    margin-left: 500px;
    color:yellow;
}
#info1{
    width:700px;
    height: 70vh;
    margin-left: 200px;
    border-radius:5% 5%;
    border:1px solid white;
}
h2{
    color:black;
    font-weight: 800;
    margin-left: 20px;
}
#nav-home-tab, #nav-profile-tab,#nav-contact-tab,#nav-award-tab{
    font-size: 20px;
    color: goldenrod;
    font-weight: 900;
}